<h1>Listing historicals</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Start</th>
    <th>Highest</th>
    <th>Lowest</th>
    <th>End</th>
    <th>Change</th>
    <th>Exchange</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @historicals.each do |historical| %>
  <tr>
    <td><%= historical.date %></td>
    <td><%= historical.start %></td>
    <td><%= historical.highest %></td>
    <td><%= historical.lowest %></td>
    <td><%= historical.end %></td>
    <td><%= historical.change %></td>
    <td><%= historical.exchange %></td>
    <td><%= link_to 'Show', historical %></td>
    <td><%= link_to 'Edit', edit_historical_path(historical) %></td>
    <td><%= link_to 'Destroy', historical, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Historical', new_historical_path %>
