<h1>Historical Data (<%= @exchange.kind %>)</h1>

<p><%= link_to "Back to List", fx_company_path(@fx_company) %></p>
<%= @csv_url %><br />


<table class="table">
  <tr>
    <th>Date</th>
    <th>Start</th>
    <th>Highest</th>
    <th>Lowest</th>
    <th>End</th>
    <th>Change</th>
  </tr>

  <% @historicals.each do |h| %>
      <tr>
        <th><%= h.date %></th>
        <td align="right"><%= h.start %></td>
        <td align="right"><%= h.highest %></td>
        <td align="right"><%= h.lowest %></td>
        <td align="right"><%= h.end %></td>
        <td align="right"><%= h.change.round(5) %></td>
      </tr>
  <% end %>
</table>
