<h1>Historical Data (<%= @exchange.kind %>)</h1>

<p><%= link_to "Back to List", fx_company_path(@fx_company) %></p>
<%= @csv_url %><br />


<table class="table">
  <tr>
    <th align="center">Date</th>
    <th align="center">Start</th>
    <th align="center">Highest</th>
    <th align="center">Lowest</th>
    <th align="center">End</th>
    <th align="center">Change</th>
  </tr>

  <% @historicals.each_with_index do |h,i| %>
      <% @prev_historical = @historicals[i+1] unless  @historicals[i+1].nil? %>
      <tr>
        <th><%= h.date %></th>

	<% if h.start > @prev_historical.start %>
	        <td align="right" class="value_up"><%= h.start %></td>
	<% else %>
	        <td align="right" class="value_down"><%= h.start %></td>
	<% end %>

	<% if h.highest > @prev_historical.highest %>
	        <td align="right" class="value_up"><%= h.highest %></td>
	<% else %>
	        <td align="right" class="value_down"><%= h.highest %></td>
	<% end %>

	<% if h.lowest > @prev_historical.lowest %>
	        <td align="right" class="value_up"><%= h.lowest %></td>
	<% else %>
	        <td align="right" class="value_down"><%= h.lowest %></td>
	<% end %>

	<% if h.end > @prev_historical.end %>
	        <td align="right" class="value_up"><%= h.end %></td>
	<% else %>
	        <td align="right" class="value_down"><%= h.end %></td>
	<% end %>

	<% if h.change > 0 %>
	        <td align="right" class="value_up"><%= h.change.round(5) %></td>
	<% else %>
	        <td align="right" class="value_down"><%= h.change.round(5) %></td>
	<% end %>

      </tr>
  <% end %>
</table>
