<h1>Exchange Information</h1>
<p id="notice"><%= notice %></p>

<p>
  <b>FX Company Name:</b>
  <%= @fx_company.name %>
  (<%= @fx_company.url %>)
</p>


<h2>Exchange:</h2>
<ul>
<%= render @fx_company.exchanges %>
</ul>

<%= form_for @fx_company do |c| %>
	<%= c.label "Historical View : " %>
<!--	<%= c.collection_select :name, Exchange.all, :id, :kind, :include_blank => true %> -->
	<%= c.collection_select :name, Exchange.all, :id , :kind, :include_blank => true %>
<div class="actions">
<%= c.submit("View") %>
</div>
<% end %>

<h2>Add a exchange:</h2>
<%= render "exchanges/form" %>

<%= link_to 'Edit', edit_fx_company_path(@fx_company) %> |
<%= link_to 'Back', fx_companies_path %>

